.main_content
	#recipe_top.row
		.col-md-4
			= image_tag @recipe.image.url(:medium), class: "recipe_image"
		.col-md-8
			#recipe_info
				%h1= @recipe.title
				%p.description= @recipe.description
				%p
					Submitted by
					= @recipe.user.email
				%br
				%p
					.btn.btn-group
						= link_to like_recipe_path(@recipe), method: :put, class: "btn btn-primary btn-outline" do
							%span.glyphicon.glyphicon-arrow-up
							Upvote
							\#{@recipe.get_upvotes.size}
						= link_to dislike_recipe_path(@recipe), method: :put, class: "btn btn-danger btn-sa" do
							%span.glyphicon.glyphicon-arrow-down
							Downvote
							\#{@recipe.get_downvotes.size}
				%table{:style => "width:100%"}
					%tr
						%td{:align => "left"}
							- if (@recipe.user == current_user) || (current_user.try(:admin?))
								= link_to "Edit", edit_recipe_path, class: "btn btn-default", :align => "left"
								= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default", :align => "left"
						%td{:align => "right"}
							= link_to "Write a Review", new_recipe_review_path(@recipe), class: "btn btn-primary"
	.row
		.col-md-6
			#ingredients
				%h2 Ingredients
				%ul
					- @recipe.ingredients.each do |ingredient|
						%li= ingredient.name
		.col-md-6
			#directions
				%h2 Directions
				%ul
					- @recipe.directions.each do |direction|
						%li= direction.step

	.row
		.col-md-12
			#reviews
				- if (@reviews.blank?)
					%h3 No reviews yet, would you like to add the first one?
					= link_to "Write Review", new_recipe_review_path(@recipe), class: "btn btn-danger"
				- else
					%h2 Reviews:
					- @reviews.each do |review|
						.reviews
							%p= review.rating
							%li= review.comment
							%hr